# Workaround for possible bug in Bazel v0.21.0:
build --incompatible_package_name_is_a_function=false

# Use remote version of Java 9:
build --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_java9
build --java_toolchain=@bazel_tools//tools/jdk:toolchain_java9

# Give hints that test timeouts are an appropriate size/duration.
test --test_verbose_timeout_warnings

#build --compilation_mode=dbg
#run   --compilation_mode=dbg
#test  --compilation_mode=dbg

build --cxxopt='-std=c++17'
test  --cxxopt='-std=c++17'
run   --cxxopt='-std=c++17'
